/* Styling for the header */
.header {
    position: sticky;
    top: 0;
    width: 100%;
    background: linear-gradient(to right, #B2FFFF, #0047AB);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }
  
  /* Navbar styling */
  .navbar {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
  }
  
  /* List of links */
  .nav-links {
    list-style-type: none;
    display: flex;
    gap: 6rem;
  }
  
  /* Styling individual links */
  .nav-links li a {
    text-decoration: none;
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: 500;
    
    color: white;
    transition: color 0.3s ease;
  }
  
  /* Hover effect */
  .nav-links li a:hover {
    color: #ff7e5f;
  }